<footer>
    <a href="https://webpages.charlotte.edu/hholnes1/" target="_blank">CLT Web</a> ||
    <a href="https://encryptidhh.github.io/" target="_blank">GitHub.io</a> ||
    <a href="https://github.com/encryptidhh/encryptidhh.github.io" target="_blank">GitHub</a> ||
    <a href="https://www.freecodecamp.org/codinges" target="_blank">freeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/hannielHolness5213116756" target="_blank">Codecademy</a> ||
    <a href="https://www.linkedin.com/in/hanniel-holness/" target="_blank">LinkedIn</a>
    <p>Site designed by <a href="hannieldesigns.com/hannieldesigns.html">Hanniel Designs Co.</a></p>
</footer>
