a:link {
  color: #F2AF29;
}

a:visited {
  color: #F2AF29;
}
h1, h2, h3 {
  font-family: "Courier New", Courier, monospace;
}
.body {
  font-family: "Calibri", sans-serif;
}

body {
  background-color: royalblue;
}
